* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: black;
}
.title {
    font-family: 'Garamond', Georgia, serif;
}
.border{
    /* text-align: center; */
    border-style: solid;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em auto;
    max-width: 45em;
    box-sizing: border-box;
}
ul {
    list-style-type: none; /* Remove the default disc */
    padding-left: 20px; /* Add some padding for the custom bullet */
  }
  
  ul li::before {
    content: "⏵"; /* Create a custom bullet */
    font-size: 0.8em; /* Adjust size to be smaller than the font */
    color: black; /* Set bullet color */
    margin-right: 8px; /* Add some space between bullet and text */
    display: inline-block;
    vertical-align: middle;
  }
  li:hover{
    background-color: aliceblue;
  }
  
img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5em;
}
a {
    text-decoration: none;
}

a:hover{
    color:chocolate;
}

